html {
    scroll-behavior: smooth;
}
body {
    background-color: #dedede;
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    font-family:Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 1.95em;
}

h2 {
    text-align:center;
  }

li {
    margin-top: 20px;
}

figure {
    position: relative;
    margin: 20px;
    padding: 0;
    border: 6px solid black;
    border-radius: 35px;
    overflow: hidden;
}

img {
    width: 100%;
    display: block;
    border: none;
    object-fit: scale-down;
  }

figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: #FFD700;
    text-align: center;
    margin: 0;
    padding: 8px 0;
}

.label {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

@media screen and (min-width: 772px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }

    figure {
        border-radius: 50%;
        background-color: #333;
    }

    .grid figure:last-child {
        grid-column: 1 / 3;
    }

    .grid figure:last-child img {
        object-fit: contain;
        height: 100%;
    }
}

@media screen and (min-width: 992px) {
    figure {
        border-radius: 0;
    }

    .grid figure:nth-child(3n) {
        grid-column: 1 / 3;
    }

    img {
        object-fit: cover;
    }
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

/* default to light mode unless user prefers dark mode */
@media not screen and (prefers-color-scheme: dark) {
    figcaption {
        background-color: #dedede;
        color: #000000;
        border-color: #008b8b;
    }

    figure {
        background-color: #dedede;
        border-color: #008b8b;
    }
}
